*{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*body{
   
    margin: 10;
    padding: 10;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    
}*/
.game_container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.tile_container{
    display: flex;
    
    
}

.tile {
    
    text-align: center;
    border-style: solid;
    border: 2px solid #3a3a3c;
    width: 100px;
    height: 100px; 
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
    box-sizing: border-box;
    backface-visibility: hidden;
   
}

.animate {
    display: flex;
    /* height: 90vh; */
    width: 120vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.flip-container,
.flip-container2,
.flip-container3,
.flip-container4,
.flip-container5 {
    perspective: 1000;

}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper,
.flip-container2:hover .flipper2,
.flip-container2.hover .flipper2, 
.flip-container3:hover .flipper3,
.flip-container3.hover .flipper3,
.flip-container4:hover .flipper4,
.flip-container4.hover .flipper4,
.flip-container5:hover .flipper5,
.flip-container5.hover .flipper5{
    transform: rotateX(180deg);

}


.front,
.back,
.flip-container,
.front2,
.back2,
.flip-container2,
.front3,
.back3,
.flip-container3,
.front4,
.back4,
.flip-container4,
.front5,
.back5,
.flip-container5 {
    width: 100px;
    height: 100px;
    margin: 7px;
}

/* flip speed goes here */
.flipper,
.flipper2,
.flipper3,
.flipper4,
.flipper5
 {
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 100% 55px;
    position: relative;
}

/* hide back of pane during swap */
.front,
.back,
.front2,
.back2,
.front3,
.back3,
.front4,
.back4,
.front5,
.back5 {
    border-style: solid;
    backface-visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    border: 2px solid #3a3a3c;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    margin: 50 px;
    color: cornsilk;
    text-align: center;
    font: 'Helvetica Neue', Helvetica, sans-serif;
    /* box-shadow: -5px 5px 5px #aaa;  */
}

/* front pane, placed above back */
.front,
.front2,
.front3,
.front4, 
.front5 {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateX(0deg);

}

/* back, initially hidden pane */
.back,
.back2,
.back3,
.back4,
.back5 {
    transform: rotateX(180deg);
    background: green;
    font-size: 32px;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    /* background: linear-gradient(to left, 
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%); */
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    margin: 15px;
    background: rgb(136, 138, 7);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.buttons{
    display:flex;
}

.footer{
    text-align: center;
    width: 510px;
    border-top: solid 1px #3a3a3c;
}

